<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settingSection" type="FileLibrary.Configuration.SettingSection,FileLibrary"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <settingSection culture="ru-RU">
    <directoryDestination value=""/>
    <orderNumber isEnabled="true"/>
    <date isEnabled="true"/>
    <defaultDir path="D:\default"/>
    <directories>
      <directory name="D:\track1"/>
      <directory name="D:\track2"/>
    </directories>
    <rules>
      <file template="^.*\.docx" destination="D:\docx"/>
      <file template="^.*\.txt$" destination="D:\txt"/>
    </rules>
  </settingSection>
</configuration>